                <div class="about_tweet">
                <img class="qr_url" src="/QR_Code1553157731.png">
                このWebサイトはRubyOnRailsを学ぶために作られました。</br>どうぞお好きに投稿ください。
                </br>なお、作成途中でありますので、投稿したデータなどは削除されることもあります。
                
                </br>スマートフォンに対応しています。QRコードから閲覧ください。
                </div>