@charset "utf-8";
/* CSS Document */

@media (max-width: 1000px) {


.main {
	width: 100%;
	}
.footer_main {
	width: 100%;
}
.form {
	min-width: 500px;
	background-color: #AAA;
	box-shadow: 4px 4px 10px #555;
	/*formを上位レイヤにして列車画像がformの邪魔にならないように*/
	position:relative;
}
}


@media (max-width: 640px) {

.main {
	width: 100%;
	min-width: 360px;
	}
.footer_main {
	width: 360px;
}
.sitename {
/*background-color:#FFCC33;*/
	text-align:center;
	font-size:1.7em;
	padding-left:5%;
	font-weight:bold;
 }

/*tweet の中のPのクラス*/
.content {
	font-size: 1.2rem;
	font-weight: bolder;
	word-break: normal;
	}
	
.form {
	min-width: 350px;
	background-color: #444;
	box-shadow: 4px 4px 10px #555;
	/*formを上位レイヤにして列車画像がformの邪魔にならないように*/
	position:relative;
}
}
